@font-face {
  font-family: 'Ranchers';
  src: url('../fonts/Ranchers-Regular.ttf') format('truetype');
}

/* Space out content a bit */
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container{
  .container-fluid {
    padding: 0;
  }
  margin: 0;
  padding: 0;
  .well{
    text-align: center;
  }
}

.input-group{
  margin-top: 1em;
  .form-control {
    width: (234em/13);
    height: (37em/13);
    border-radius: 5px;
  }
}

#login-box {
  background: url(../images/bg-01.png) no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;

  h1{
    background: url(../images/logo.png) no-repeat;
    height: (82em/16);
    font-size: 16px;
    text-indent: -999em;
    overflow: hidden;
    top:0;
    width: (266em/16);
    margin-left: auto;
    margin-right: auto;
  }
  img {
    margin-left: (10em/16);
  }
  .input-group-addon {
    background-color: #4EE2C1;
    border: none;
    color: mintcream;
    padding: 12px;
    border-radius: 5px;
  }
  .btn-lg {
    background: linear-gradient(to right, #c928bc 0%,#4336B5 100%);
    border: none;
    font-family: 'Ranchers';
    font-size: 35px;
    padding-top: 0;
    padding-bottom: 0;
    width: 75%;
    margin-top: (15em/35);
    border-radius: 5px;
    box-shadow: 6px 3px 20px 1px black;
    color: white;
  }
}


#question-box {
  background: url(../images/bg-02.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
  width:100%;
  height: 100%;
}