@font-face {
  font-family: 'Ranchers';
  src: url('../fonts/Ranchers-Regular.ttf') format('truetype');
}

/* Space out content a bit */
body {
  background: url(../images/bg-01.png) no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  margin: 0;
  font-family: Helvetica, Arial, san-serif;
  background-color: white;
  background-size: cover;
}
.container{
  .container-fluid {
    padding: 0;
  }
  margin: 0;
  padding: 0;
  .well{
    text-align: center;
  }
}

.input-group{
  margin-top: 1em;
  .form-control {
    width: (245em/16);
    height: (37em/16);
    border-radius: 5px;
    margin-left: (-10em/16);
    font-size: 16px;
    padding-left: 10px;
  }
}

#login-box {

  .name{
    background: url(../images/logo.png) no-repeat;
    height: (82em/16);
    font-size: 16px;
    text-indent: -999em;
    overflow: hidden;
    top:0;
    width: (266em/16);
    margin-left: auto;
    margin-right: auto;
    margin-top: (20em/16);
  }
  img {
    margin-left: (10em/16);
    border-radius: 800px;
  }
  .input-group-addon {
    background-color: #4EE2C1;
    border: none;
    color: mintcream;
    padding: 10px 9px 12px 9px;
    border-radius: 5px;
    font-weight: bold;
  }
  .btn-lg {
    background: linear-gradient(to right, #c928bc 0%,#4336B5 100%);
    border: none;
    font-family: 'Ranchers';
    font-size: 35px;
    padding-top: 0;
    padding-bottom: 0;
    width: 90%;
    margin-top: (15em/35);
    border-radius: 5px;
    box-shadow: 6px 3px 20px 1px black;
    color: white;
  }
}

.timer {
  height:80px;
  width:150px;
  border-radius: 0px 0px 71px 150px;
  -moz-border-radius: 0px 0px 71px 150px;
  -webkit-border-radius: 0px 0px 71px 150px;
  background: linear-gradient(to right, #4F97E9,#B4ED51 100%);
  float: right;
  margin-right: (-22em/30);
  font-family: 'Ranchers';
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  text-align: center;
  color: white;
}

#question-box {
  font-family: 'Ranchers';
  color: white;
  font-size: 35px;
  .questions {
    margin-left: 10px;
    top: 7px;
    position: relative;
    .next {
      color: #6983FF;
    }
  }
  .textQuestion {
    font-size: 45px;
  }
  ul{
    top: 29px;
    position: relative;
    list-style: none;
    list-style-type: none;
    padding-left:1px;

    .rowQuestion {
      padding-left: 30px;
    }
  }
  .buttons {
    padding-top: (100em/45);
    margin: 0 auto;
    width: 80%;
    .btn {
      display: block;
      height: 55px;
      width: 280px;
      background: linear-gradient(to right, #A0DC0E 0%, #B0DCAB 100%);
      color: white;
      text-align: center;
      font: 30px "Ranchers", Arial, Helvetica, Geneva, sans-serif;
      border-radius: 9px;
      box-shadow: 0 5px 10px #1b383b;
      text-transform: uppercase;
    }
    a.btn {
      text-decoration: none;
    }
    .falseB {
      margin-top:(25em/30);
      background: linear-gradient(to right, #FF003F 0%, #FF0051 100%);
    }
  }
}