<!DOCTYPE html>
<html lang="en" ng-app="GigoloApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1.0" name="viewport">    <title>Gigo Game</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="libs/angular.min.js" type="text/javascript"></script>
    <script src="controller/gigolo-controller.js" type="text/javascript"></script>
    <link rel="icon" type="image/png" href="./images/avatar.png">
</head>
<body>
<div class="container">
    <div class="container-fluid">
        <section id="login-box" class="well" ng-controller="Login" ng-hide="isLogged">
            <div class="name">Gigo Game</div>
            <img ng-src="{{user_img}}" class="img-circle" width="70%" />
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">@</span>
                    <input type="text" ng-model="user.name" class="form-control" placeholder="tu usuario de twitter">
                </div>
            </div>
            <div class="form-group">
                <button  class="btn btn-lg btn-success" ng-click="save(user,$event)" >ALL THE NAIT!</button>
            </div>
        </section>
        <div class="timer" ng-controller="Timer" ng-show="isLogged && !fail">{{min}}:{{seg}}:{{cent}}</div>
        <section id="question-box" ng-controller="Question" ng-show="isLogged && !fail && !win">
            <div class="questions">{{currentIndex + 1}} <span class="next">/ {{questions.length}}</span></div>
            <ul>
                <li class="textQuestion" ng-repeat="row in questions" ng-if="isCurrentSlideIndex($index)">
                    <ul>
                        <li class="rowQuestion">{{row.question}}</li>
                        <li class="buttons">
                            <button type="button" class="btn btn-info" ng-click="response(true)">Verdadero</button>
                            <button type="button" class="btn btn-info falseB" ng-click="response(false)">Falso</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <div id="ok-msg" ng-show="isLogged && !fail && answerOK" >
            <div class="alert alert-danger">
                Respondio OK!!
            </div>
        </div>
        <div id="fail-msg" ng-show="isLogged && fail" >
            <div class="alert alert-danger">
                ¡NAH!
                PERDISTE NO SOS UN KP@ DE LA NOCHE
            </div>
        </div>
        <div id="success-msg" ng-show="isLogged && !fail && win" >
            <div class="alert alert-success">
                SHAMPEIN!!
                BANCA Y VEMOS QUIEN FUE EL SUPREMO GIGOLO
            </div>
        </div>
    </div>
</div>
</body>
</html>